<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveWall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiveWall.Properties.Settings>
            <setting name="video_link" serializeAs="String">
                <value />
            </setting>
            <setting name="video_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="render_mode" serializeAs="String">
                <value>single</value>
            </setting>
            <setting name="video_loop_max_duration" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="taskbar_style" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="taskbar_default_on_fullscreen" serializeAs="String">
                <value>True</value>
            </setting>
        </LiveWall.Properties.Settings>
    </userSettings>
</configuration>